
<article class="podcast">
  <div class="podcast__left">
    <div class="podcast__image">{{ image }}</div>
  </div>
  <div class="podcast__right">
    <h2 class="podcast__title">{{ title }}</h2>
    <h3 class="podcast__subtitle">{{ subtitle }}</h3>
    <div class="podcast__counts">
      <div class="podcast__episode-count">
        {{ 'Total # of Episodes: ' | t }}
        <span class="podcast__episode-count-number">{{ episode_count }}</span>
      </div>
      <div class="podcast__download-intent-count">
        {{ 'Total # of Downloads: ' | t }}
        <span class="podcast__download-intent-count-number">{{ download_intent_count }}</span>
      </div>
    </div>
  </div>
</article>

