{#
/**
 * @file
 * Default theme implementation to present a podcast entity.
 *
 * This template is used when viewing a registered podcast's page,
 * e.g., /admin/content/podcast)/123. 123 being the podcast's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_podcast()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
