.podcast {
  display: flex;
}

.podcast__right {
  padding-left: 2rem;
}

.podcast__title {
  font-weight: bold;
}

.podcast__episode-count,
.podcast__download-intent-count {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.podcast__episode-count-number,
.podcast__download-intent-count-number {
  padding: 0 0.5rem;
  font-weight: bold;
}
